@{
    ViewData["Title"] = "Вітаємо";
}

<div class="text-center mt-5">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p class="lead">Для продовження, будь ласка, увійдіть у свій обліковий запис.</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary mt-3">Увійти</a>
</div>
